[Unit]
Description=Pi Super UPS
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/pi-super-ups

[Install]
WantedBy=multi-user.target
